<!-- Navigation -->
<nav role="navigation" class="navbar-fixed-top" style="margin-top: 50px;">

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse" id="sidebar-area">
            <ul class="nav" id="sidebar">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                    </div>
                    <div  class="search-icon">
                      <a href="#"><i class="fa fa fa-search fa-fw"></i></a>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="#" name="loadTabContent" data-id="dashboard" data-src="dashboard" title="Dashboard">
                      <i class="fa fa-dashboard fa-fw"></i>
                      <span class="side-menu-title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="dropdown-collapse"><i class="fa fa-bar-chart-o fa-fw"></i> <span class="side-menu-title">Charts</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#" name="loadTabContent" data-id="flot" data-src="flot" title="Flot Charts">Flot Charts</a>
                        </li>
                        <li>
                            <a href="#" name="loadTabContent" data-id="morris" data-src="morris" title="Morris.js Charts">Morris.js Charts</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#" name="loadTabContent" data-id="tables" data-src="tables" title="Tables"><i class="fa fa-table fa-fw"></i> <span class="side-menu-title">Tables</span></a>
                </li>
                <li>
                    <a href="#" name="loadTabContent" data-id="forms" data-src="forms" title="Forms"><i class="fa fa-edit fa-fw"></i> <span class="side-menu-title">Forms</span></a>
                </li>
                <li>
                    <a href="#" class="dropdown-collapse"><i class="fa fa-wrench fa-fw"></i> <span class="side-menu-title">UI Elements</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#" name="loadTabContent" data-id="panels-wells" data-src="panels-wells" title="Panels and Wells">Panels and Wells</a>
                        </li>
                        <li>
                            <a href="#" name="loadTabContent" data-id="buttons" data-src="buttons" title="Buttons">Buttons</a>
                        </li>
                        <li>
                            <a href="#" name="loadTabContent" data-id="notifications" data-src="notifications" title="Notifications">Notifications</a>
                        </li>
                        <li>
                            <a href="#" name="loadTabContent" data-id="typography" data-src="typography" title="Typography">Typography</a>
                        </li>
                        <li>
                            <a href="#" name="loadTabContent" data-id="icons" data-src="icons" title="Icons"> Icons</a>
                        </li>
                        <li>
                            <a href="#" name="loadTabContent" data-id="grid" data-src="grid" title="Grid">Grid</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#" class="dropdown-collapse"><i class="fa fa-sitemap fa-fw"></i> <span class="side-menu-title">Multi-Level Dropdown</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Second Level Item</a>
                        </li>
                        <li>
                            <a href="#">Second Level Item</a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-collapse">Third Level <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Item</a>
                                </li>
                            </ul>
                            <!-- /.nav-third-level -->
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#" class="dropdown-collapse"><i class="fa fa-files-o fa-fw"></i> <span class="side-menu-title">Sample Pages</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#" name="loadTabContent" data-id="blank" data-src="blank" title="Blank Page">Blank Page</a>
                        </li>
                        <li>
                            <a href="#" name="loadTabContent" data-id="login" data-src="login" title="Login">Login Page</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>

            <div class="menu-toggler sidebar-toggler fa fa-exchange fa-fw navbar-right" style="padding-right: 20px;">
                <!--span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span!-->
            </div>

        </div>
        <!-- /.sidebar-collapse -->



    </div>
    <!-- /.navbar-static-side -->
</nav>
