<div style="padding-top: 5px; position: fixed; z-index: 999; background-color: #ffffff; width: 100%;">

<!--a href="#" id="btnAddPage" role="button">Add Page</a-->
<ul id="pageTab" class="nav nav-tabs">
		<li class="active"><a id="dashboard" href="#pageTabContent-dashboard" data-toggle="tab">Dashboard</a></li>
</ul>
</div>
